<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body class="container">
<script type="text/javascript" src="/js/bookPageClient.js" defer></script>
<link href="/css/bookPage.css" rel="stylesheet" type="text/css">
<link href="/css/add-dialog.css" rel="stylesheet" type="text/css">
<link href="/css/user-dialog.css" rel="stylesheet" type="text/css">

<main>
   <div class="bookPage">

<!--&lt;!&ndash;      <div class="left-wrapper">&ndash;&gt;-->
<!--         <img class="left-wrapper" src="/images/book.png" />-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

      <div class="right-wrapper">
         <div class="page-info">

            <div class="page-element-item">
               <br>
               <label>
                  <strong>
                     Автор:
                  </strong>
               </label>
               <div class="editable-container">
                  <div class="editable-element" contenteditable="true" id="author-editor">
                     <%= book.author %>
                  </div>
                  <img src="/images/edit.svg" />
               </div>

               <br>
               <label>
                  <strong>
                     Название:
                  </strong>
               </label>
               <div class="editable-container">
                  <div class="editable-element" contenteditable="true" id="title-editor">
                     <%= book.title %>
                  </div>
                  <img src="/images/edit.svg" />
               </div>
               <br>
               <label>
                  <strong>
                     Дата выхода:
                  </strong>
               </label>
               <div class="editable-container">
                  <div class="editable-element" contenteditable="true" id="release-editor">
                     <%= book.release %>
                  </div>
                  <img src="/images/edit.svg" />
               </div>
            </div>
            <% if(book.available) { %>
               <div class="book-state">
                  <p>
                     Книга доступна в библиотеке
                  </p>
               </div>

               <br>
               <%- include('./partials/user-dialog.ejs'); %>
               <div class="page-element-buttons">
                  <button class="dialog-button"  id="getBookButton" data-id="<%=book.id%>">Выдать</button>
                  <button class="deleteButton dialog-button" id="back" >Назад</button>
               </div>
            <% } else { %>
               <div class="book-state">
                  <p>
                     Книга на руках
                  </p>
               </div>
               <div class="page-element-item">
                  <div class="page-element-item-group">
                     <label>
                        Пользователь:
                     </label>
                     <div class="user-info">
                        <%= book.currentUser %>
                     </div>
                  </div>
                  <div class="page-element-item-group">
                     <label>
                        Дата возврата:
                     </label>
                     <div class="user-info">
                        <%= book.returnDate %>
                     </div>
                  </div>
                  <div class="page-element-buttons">
                     <button class="dialog-button"  id="returnBookButton" data-id="<%=book.id%>">Вернуть</button>
                     <button class="deleteButton dialog-button" id="back" >Назад</button>
                  </div>
               </div>

            <% } %>
         </div>
      </div>

   </div>
</main>

</body>
</html>