<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body class="container">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/add-dialog.css" rel="stylesheet" type="text/css">
    <link href="/css/main-page.css" rel="stylesheet" type="text/css">
    <link href="/css/delete-dialog.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/client.js" defer></script>

    <div class="page-container">
        <header>
            <%- include('./header.ejs'); %>
            <%- include('./partials/add-dialog.ejs'); %>
        </header>
        <main>
            <div class="page-elements">

                    <% books.forEach(function(book) { %>
                        <div class="page-element">
                            <div class="page-element-item">
                                <label>
                                    <strong><%= book.title %></strong>
                                </label>
                                <label>
                                    <%= book.author %>
                                </label>
                                <label>
                                    <%= book.release %>
                                </label>
                            </div>
                            <div class="page-element-buttons">
                                <button class="openButton dialog-button" data-id="<%=book.id%>">Подробнее</button>
                                <%- include('./partials/delete-dialog.ejs'); %>
                                <button class="deleteButton dialog-button" data-id="<%=book.id%>">Удалить</button>
                            </div>
                        </div>

                    <% }); %>

            </div>


        </main>
    </div>

</body>
</html>